.ant-menu{
    background:none;
    color: #ddd;
    border-bottom: none;
    height: 68px;
    line-height: 68px;
    align-items: center;
    font-size: 14px;
}
.ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-item-active{
    border-bottom: 2px solid #fff;
    color: #fff;
    height: 68px;
    line-height: 68px;
}
.ant-radio-button-wrapper{
    background: #222C3C;
    color: #7C8CA5;
    border: 1px solid #313D4F;
}
.ant-radio-button-wrapper:hover{
    border-image:linear-gradient(0deg, rgba(25,145,235,1), rgba(46,161,248,1)) 10 10;
    background:linear-gradient(0deg,rgba(25,145,235,1) 0%,rgba(46,161,248,1) 100%);
    color: #fff;
}
.ant-radio-button-wrapper:first-child{
    border-left: 1px solid #313D4F;
}
.ant-radio-button-wrapper:first-child{
    border-left: 1px solid #313D4F;
}
.ant-radio-button-wrapper:last-child{
    border-left: 1px solid #313D4F;
}
.ant-radio-button-wrapper:not(:first-child)::before{
    background-color: #313D4F;
}
.ant-input-search>input{
    background: #222C3C;
    border: 1px solid #313D4F;
}
.ant-input-search-icon{
    color: #7C8CA5;
}
